
<!-- Header -->
<header id="home">
  
  <!-- Background Image -->
  <div class="bg-img" style="background-image: url('../../assets/img/test/background1.jpg');">
    <div class="overlay"></div>
  </div>
  <!-- /Background Image -->
  <div class="Header">
      <img src="../../assets/img/ucsc1.png" height="150" width="150" >
    </div>
  <!-- Nav -->
  
  <!-- /Nav -->

  <!-- home wrapper -->
  <div class="home-wrapper">
    
    <div class="container">
      <div class="row">

        <!-- home content -->
        <div class="col-md-12 col-md-offset-1">
          <div class="home-content">
           
            <h1 class="white-text">Time Table Management System</h1>
            <!-- <p class="white-text">Morbi mattis felis at nunc. Duis viverra diam non justo. In nisl. Nullam sit amet magna in magna gravida vehicula. Mauris tincidunt sem sed arcu. Nunc posuere.
            </p> -->
            <!-- <button class="white-btn">Get Started!</button> -->
            <button class="main-btn" routerLink="/login">Log in</button>
          </div>
        </div>
        <!-- /home content -->

      </div>
    </div>
  </div>
  <!-- /home wrapper -->

</header>
<!-- /Header -->


<!-- jQuery Plugins -->
<!-- <script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
<script type="text/javascript" src="js/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="js/main.js"></script> -->

