
    
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col"><b>Name</b></th>
            <th scope="col"><b>Email</b></th>
            <th scope="col"><b>Mobile Number</b></th>
            <th scope="col"><b>User Name</b></th>
            <th scope="col"></th>
           
          </tr>
        </thead>
        
          
          <ng-container *ngFor="let lecturer of list | paginate: { itemsPerPage: 7, currentPage: p }; let i = index;">
           
             <tr  class="table-striped"> 
            <td>{{lecturer.firstName}} {{lecturer.lastName}}</td>
            <td>{{lecturer.email}}</td>
            <td>{{lecturer.mobileNumber}}</td>
            <td>{{lecturer.userName}}</td>
      
               <td>
                <a class="action-btn" style="color:rgb(36, 143, 192); cursor: pointer" (click)="onEdit(lecturer)">
                  <i class="material-icons">edit</i>
                </a>
                <a class="action-btn" style="color:lightcoral; cursor: pointer" (click)="onDelete(lecturer.id)">
                  <i class="material-icons">delete</i>
                </a>
              </td>
          </tr>
        
      </ng-container>
      </table>
      
    <!-- Pagination -->
    <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>
  
  





