.e-all-day-container,
.e-time-zone-container,
.e-input-wrapper-side.e-end-on.e-form-right {
  display: none;
}
.e-recurrenceeditor .e-end-on { 
  display: none !important; 
} 

.custom-class.e-schedule .e-vertical-view .e-all-day-appointment-wrapper .e-appointment,
  .custom-class.e-schedule .e-vertical-view .e-day-wrapper .e-appointment,
  .custom-class.e-schedule .e-month-view .e-appointment{
    background: #006400;
  }