<div class="col-lg-5 col-md-12 col-sm-12 offset-sm-2">

  <div class="row">
  <div class="class-md-5">
    <!-- subject form -->
  <form [formGroup]="this.subjectsService.form" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="$key">
    <div class="form-group">
      <label for="">Subject Code</label>
      <input type="text" formControlName="subjectCode" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.subjectCode.errors}">
      <div class="invalid-feedback" *ngIf="submitted && formControls.subjectCode.errors">
          <label>This field is required.</label>
      </div>
    </div>
    <div class="form-group">
      <label for="">Subject Title</label>
      <input type="text" formControlName="subjectTitle" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.subjectTitle.errors}">
      <div class="invalid-feedback" *ngIf="submitted && formControls.subjectTitle.errors">
          <label>This field is required.</label>
      </div>
    </div>
    <div class="form-group">
      <label for="">Year</label>
      <input type="text" formControlName="year" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.year.errors}">
      <div class="invalid-feedback" *ngIf="submitted && formControls.year.errors">
          <label *ngIf="formControls.year.errors.pattern">Enter a number between 1-4</label>
      </div>
    </div>
    <div class="form-group">
      <label for="">Semester</label>
      <input type="text" formControlName="semester" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.semester.errors}">
      <div class="invalid-feedback" *ngIf="submitted && formControls.semester.errors">
          <label *ngIf="formControls.semester.errors.pattern">Enter a number between 1-2</label>
      </div>
    </div>
    <div class="form-group">
      <label for="">Credit Value</label>
      <input type="text" formControlName="credit" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.credit.errors}">
      <div class="invalid-feedback" *ngIf="submitted && formControls.credit.errors">
          <label *ngIf="formControls.credit.errors.pattern">Enter a number between 1-3</label>
      </div>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Submit">
    </div>
    
  </form><!-- Subject form ends-->
  <div class="alert alert-info" *ngIf="showSucessMessage">
    Submitted Successfully!
  </div>
  </div>
  
</div>

</div>

<div class="class-md-7">
    <app-subject-list></app-subject-list>
  </div>
