<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Manage Subjects</h4>
                        <!-- <p class="card-category">Complete your profile</p> -->
                    </div>
                    <div class="card-body">
                        <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
                            <input type="hidden" name="id" #id="ngModel" [(ngModel)]="subjectsService.formData.id">
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Subject Code" type="text" name="subjectCode" #subjectCode="ngModel" [(ngModel)]="subjectsService.formData.subjectCode" class="form-control" required>
                                  </mat-form-field>
                                  <mat-error class="invalid-feedback" *ngIf="subjectCode.invalid && subjectCode.touched">
                                      This field is required.
                                  </mat-error>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Subject Title" type="text" name="subjectTitle" #subjectTitle="ngModel" [(ngModel)]="subjectsService.formData.subjectTitle" class="form-control" required>
                                  </mat-form-field>
                                  <mat-error class="invalid-feedback" *ngIf="subjectTitle.invalid && subjectTitle.touched">
                                    This field is required.
                                  </mat-error>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Year" type="text" name="year" #year="ngModel" [(ngModel)]="subjectsService.formData.year" class="form-control" required>
                                  </mat-form-field>
                                  <mat-error class="invalid-feedback" *ngIf="year.invalid && year.touched">
                                      <div class="text-danger">
                                          <label *ngIf="formControls.year.errors.required">This field is required</label>
                                          <label *ngIf="formControls.year.errors.min || formControls.year.errors.max || formControls.year.errors.pattern">Enter a number between 1-4</label>
                                      </div>
                                  </mat-error>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Semester" type="text" name="semester" #semester="ngModel" [(ngModel)]="subjectsService.formData.semester" class="form-control" required>
                                  </mat-form-field>
                                  <mat-error class="invalid-feedback" *ngIf="semester.invalid && semester.touched">
                                      <div class="text-danger">
                                          <label *ngIf="formControls.semester.errors.required">This field is required</label>
                                          <label *ngIf="formControls.semester.errors.min || formControls.semester.errors.max || formControls.semester.errors.pattern">Enter a number between 1-2</label> 
                                      </div>
                                  </mat-error>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Credit Value" type="text" name="credit" #credit="ngModel" [(ngModel)]="subjectsService.formData.credit" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.credit.errors}" required>
                                  </mat-form-field>
                                  <mat-error class="invalid-feedback" *ngIf="credit.invalid && credit.touched">
                                      <div class="text-danger">
                                          <label *ngIf="formControls.credit.errors.required">This field is required</label>
                                          <label *ngIf="formControls.credit.errors.min || formControls.credit.errors.max || formControls.credit.errors.pattern">Enter a number between 1-3</label>
                                      </div>
                                  </mat-error>
                                </div>
                            </div>
                            <div class="form-group text-right">
                                <button mat-raised-button type="button" class="btn btn-info gap-right" (click)="resetForm()">Reset</button>
                                <button mat-raised-button type="submit" [disabled]="form.invalid" class="btn btn-danger pull-right" value="submit">Submit</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                        <!-- <div class="alert alert-info"  *ngIf="showSuccessMessage">
                            Submitted successfully.
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-profile">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Subjects List</h4>
                        <!-- <p class="card-category">Complete your profile</p> -->
                    </div>
                    <div class="card-body">
                        <app-subject-list></app-subject-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  









