// input#message {
//     background:none;
//     border:none;
//     border-bottom: 1px solid #4C4C4C;
//     outline:none;
//     box-shadow:none;
//     color: white;
//     font-size:1.6em;
//     font-weight:300;
//     margin-bottom: 3em;
//     padding:1.2em 0;
// }

.chat-container {
    display:block;
    width:100%;
}
// .chat-container:nth-child(4) {
//     opacity: .8;
// }
// .chat-container:nth-child(3) {
//     opacity: .6;
// }
// .chat-container:nth-child(2) {
//     opacity: .4;
// }

.chat-container a {
    text-transform: uppercase;
    font-weight:bold;
    color:#816A98;
    font-size:.8em;
    letter-spacing:2px;
}

.chat-container b {
    font-weight:bold;
    color:rgb(0, 0, 0);
    font-size:.6em;
    letter-spacing:1px;
}

.chat-container p {
    background:#f3f0f0;
    padding:0.1em;
    color:black;
    margin: 1px 0 1px 0;
}