




<div class="main-content">
<div class="container-fluid" width='100%' height='100%'>
<div class="row">
<div class="row">
        <div class="col">
        <!-- <div ngbDropdown class="d-inline-block">
            <button[(ngModel)]="selItem" class="btn btn-outline-info"  selected="firstyear" id="" name="itemSelection" (ngModelChange)="onChange($event)" ngbDropdownToggle>Toggle dropdown</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" [value]="x" *ngFor="let x of names">
              <button ngbDropdownItem>{{x}}</button>
              <button ngbDropdownItem>Another Action</button>
              <button ngbDropdownItem>Something else is here</button>
            </div>
          </div> -->
          <div ngbDropdown class="d-inline-block">
                <select [(ngModel)]="selItem" class="btn btn-outline-info"  selected="firstyear" id="" name="itemSelection" (ngModelChange)="onChange($event)" >
                  <option [value]="x" *ngFor="let x of names">{{x}}</option>
                 
                </select>
               </div> 
    <div class="col-lg-12 col-md-12">
      <div class="card">
        
          <div class="card-header card-header-info">
              <h3 class="card-title" style="cursor: pointer;" ><b>{{Y}} Table</b></h3>
          </div>
        
           <div class="card-body table-responsive" *ngIf="firstyear" >
              <app-view-first-year></app-view-first-year>
           </div>
           <div class="card-body table-responsive"  *ngIf="secondyear">
            <app-view-second-year></app-view-second-year>
         </div>
         <div class="card-body table-responsive"  *ngIf="thirdyear" >
          <app-view-third-year></app-view-third-year>
       </div>
       <div class="card-body table-responsive"  *ngIf="fourthyear" >
        <app-view-fourth-year></app-view-fourth-year>
     </div>
      </div>
    </div>
    
</div>
</div>
</div>
