<div id="cont">
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-info">
                      <h4 class="card-title">Send Request For Reschedule</h4>
                     
                  </div>
                  <div class="card-body">
                    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
                      <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
                       
                          <div class="row">
                              <div class="col-md-12">
                                  <label>Lecturer ID</label>
                                  <input type="text" name="LecturerID" #LecturerID="ngModel" [(ngModel)]="service.formData.LecturerID" class="form-control" required>
                                  <div *ngIf="LecturerID.invalid && LecturerID.touched" class="validation-error">This field is required.</div>
                                </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-12">
                                    <label>Subject</label>
                                    <!-- <select #Subject="ngModel" name="Subject.subjectTitle" [(ngModel)]="service.formData.Subject" class="form-control" required>
                                        <option *ngFor="let subject of subjects" [value]="Subject">{{subject.subjectCode}}-{{subject.subjectTitle}}</option>
                                      </select> -->
                                   
                                      <select [ngModel]="service.formData.Subject" (ngModelChange)="onChange($event)" name="Subject" class="form-control" required>
                                      
                                        <option [value]="subject.subjectTitle" *ngFor="let subject of subjects">{{subject.subjectCode}}-{{subject.subjectTitle}}</option>
                                    </select>
                                   
                                   
                                      <!-- <input type="Subject" name="Subject" #Subject="ngModel" [(ngModel)]="service.formData.Subject" class="form-control" required> -->
                                  </div>
                                </div>
                              <div class="row">
                            <div class="col-md-12">
                              <label>Current Date</label>
                                  
                               <input type="date" name="Date" #Date="ngModel" [(ngModel)]="service.formData.Date" class="form-control" required>
                                             <!-- <owl-date-time #Date></owl-date-time> -->
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <label>Current Time</label>
                               <input type="time" name="Time" #Time="ngModel" [(ngModel)]="service.formData.Time" class="form-control" required>
                                             <!-- <owl-date-time #Time></owl-date-time> -->
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <label>Request Date</label>
                               <input type="date" name="NewDate" #NewDate="ngModel" [(ngModel)]="service.formData.NewDate" class="form-control" required>
                                             <!-- <owl-date-time #Time></owl-date-time> -->
                            </div>
                          </div>
                         
                          <div class="row">
                            <div class="col-md-12">
                              <label>Request Time</label>
                              <!-- <a class="action-btn pull-right" style="color:rgb(36, 143, 192); cursor: pointer" >suggest time slot<i class="material-icons">add</i> </a> -->
                               <input type="time" name="NewTime" #NewTime="ngModel" [(ngModel)]="service.formData.NewTime" class="form-control" required>
                            </div>
                          </div>
                    
                          
                          <div class="row">
                            <div class="col-md-12">
                              <label>Reason</label>
                              <input type="text" name="Reason" #Reason="ngModel" [(ngModel)]="service.formData.Reason" class="form-control" required>
                              </div>
                            </div>
                              
                            
                            
                          
                    
                           <div class="form-group text-right">
                            <button type="button" class="btn btn-info gap-right" (click)="resetForm(form)">Reset</button>
                            <button type="submit" class="btn btn-success pull-right" [disabled]="form.invalid" value="submit">Send</button>
                          </div>
                    
                       
                        <div class="clearfix"></div>
                      
                    </form>
                    
                  </div>
              </div>
          </div>
</div>
</div>
</div>
</div>