.notice-container {
    display:block;
    width:100%;
}
.notice-container a {
    text-transform: uppercase;
    font-weight:bold;
    color:#816A98;
    font-size:.8em;
    letter-spacing:2px;
}

.notice-container b {
    font-weight:bold;
    color:rgb(0, 0, 0);
    font-size:.6em;
    letter-spacing:1px;
}

.notice-container p {
    background:#dbd9dd;
    padding:1.1em;
    color:black;
    margin: 5px 0 5px 0;
}