
<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
        <div class="container-fluid">
            <div class="navbar-wrapper">
              <a class="navbar-brand" href="#"></a>
            </div>
            <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <ul class="navbar-nav">
                   <li class="nav-item dropdown">
                     <i class="material-icons" style="cursor: pointer;" (click)="open(content6)">notifications</i>
                   </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            <i class="material-icons">logout</i> Logout
                            <p>
                                <span class="d-lg-none d-md-block">Account</span>
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
 <!-- subjectmodal -->
 <ng-template #content let-modal>
    
    <div class="modal-body">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-2 border-bottom">
    <h3 class="h2">Subject List</h3>
    
    
  </div>
  
  
    <div class="table-responsive" >
      <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
        <thead>
          <tr>
            <th scope="col"><b>Subject</b></th>
            <th scope="col"><b>Subject Code</b></th>
            <th scope="col"><b>Year</b></th>
            <th scope="col"><b>Semester</b></th>
            <th scope="col"><b>Credit</b></th>
            
           
          </tr>
        </thead>
        
         
          <ng-container *ngFor="let subject of list | paginate: { itemsPerPage: 7, currentPage: p }; let i = index;">
           
             <tr  class="table-striped"> 
            <!-- <th scope="row">{{student.$key}}</th> -->
            <td>{{subject.subjectCode}}</td>
            <td>{{subject.subjectTitle}}</td>
            <td>{{subject.year}}</td>
            <td>{{subject.semester}}</td>
            <td>{{subject.credit}}</td>
            
          </tr>
        
      </ng-container>
      </table>
     
    </div>
    <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>
  
  </div>
  
  
  
  </ng-template>
     
<!-- end subjectModal -->


 <!-- lecturermodal -->
 <ng-template #contentl let-modal>
    
  <div class="modal-body">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-2 border-bottom">
  <h3 class="h2">Lecturer List</h3>
  
  
</div>


  <div class="table-responsive" >
    <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
      <thead>
        <tr>
          
            <th scope="col"><b>Name</b></th>
            <th scope="col"><b>Email</b></th>
            <th scope="col"><b>Mobile Number</b></th>
            <th scope="col"><b>User Name</b></th>
            <th scope="col"></th>
           
          
          
         
        </tr>
      </thead>
      
       
        <ng-container *ngFor="let lecturer of Llist  | paginate: { itemsPerPage: 7, currentPage: p }; let i = index;">
         
           <tr  class="table-striped"> 
          <!-- <th scope="row">{{student.$key}}</th> -->
          <td>{{lecturer.firstName}} {{lecturer.lastName}}</td>
            <td>{{lecturer.email}}</td>
            <td>{{lecturer.mobileNumber}}</td>
            <td>{{lecturer.userName}}</td>
          
        </tr>
      
    </ng-container>
    </table>
   
  </div>
  <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>

</div>



</ng-template>
   
<!-- end lecturerModal -->


<!-- hallmodal -->
<ng-template #contenth let-modal>
    
  <div class="modal-body">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-2 border-bottom">
  <h3 class="h2">Hall List</h3>
  
  
</div>


  <div class="table-responsive" >
    <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
      <thead>
        <tr>
          
            <th scope="col"><b>Hall ID</b></th>
            <th scope="col"><b>Capacity</b></th>
            <th scope="col"><b>Resource Availability</b></th>

        </tr>
      </thead>
      
       
        <ng-container *ngFor="let hall of Hlist  | paginate: { itemsPerPage: 7, currentPage: p }; let i = index;">
         
           <tr  class="table-striped"> 
          <!-- <th scope="row">{{student.$key}}</th> -->
          <td>{{hall.hallID}}</td>
            <td>{{hall.capacity}}</td>
            <td>{{hall.resourceStatus}}</td>
          
        </tr>
      
    </ng-container>
    </table>
   
  </div>
  <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>

</div>



</ng-template>
   
<!-- end hallModal -->

<!-- 1st year Modal -->
<ng-template #content2 let-modal>
    <div class="modal-header">
  <h3 class="h3">1st Year Time Table</h3>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div class="modal-body">
 
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-2 border-bottom">
    
    <div>
    <app-first-year></app-first-year>
</div>
  </div>
  </div>
  </ng-template>
<!-- End 1st year Modal -->

<!-- 2nd year Modal -->
<ng-template #content3 let-modal>
    <div class="modal-header">
        <h3 class="h3">2nd Year Time Table</h3>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
        <div class="modal-body">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-2 border-bottom">
        
        <div>
                <app-second-year></app-second-year>
    </div>
      </div>
      </div>
      </ng-template>
    <!-- End 2nd year Modal -->

<!-- 3rd year Modal -->
<ng-template #content4 let-modal>
    <div class="modal-header">
        <h3 class="h3">3rd Year Time Table</h3>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
        <div class="modal-body">
  
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-2 border-bottom">
        
        <div>
                <app-third-year></app-third-year> 
    </div>
      </div>
      </div>
      </ng-template>
    <!-- End 3rd year Modal -->

    <!-- 4th year Modal -->
<ng-template #content5 let-modal>
    <div class="modal-header">
        <h3 class="h3">4th Year Time Table</h3>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
        <div class="modal-body">
      
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-2 border-bottom">
        
        <div>
                <app-fourth-year></app-fourth-year>
    </div>
      </div>
      </div>
      </ng-template>
    <!-- End 4th year Modal -->

    <ng-template #content6 let-modal>
        <div class="modal-header">
            <h3 class="h3">Notifications</h3>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
            <div class="modal-body">
          
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-2 border-bottom">
            
            <div>
                <app-notifications></app-notifications>
            </div>    
          </div>
          </div>
        </ng-template>


<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons" style="cursor: pointer;" (click)="open(content)">books</i>
                      </div>
                      <h4 class="card-title">View Subjects
                      </h4>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons" style="cursor: pointer;" (click)="open(contenth)">store</i>
                      </div>
                      <h4 class="card-title">View Lecture Halls</h4>
                      
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons" style="cursor: pointer;" (click)="open(contentl)">people</i>
                      </div>
                      <h5 class="card-title">View Lecturer Details</h5>
                  </div>
              </div>
          </div>
      <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title" style="cursor: pointer;" (click)="open(content2)">First Year Time Table</h4>
                </div>
                 <div class="card-body table-responsive">
                    <app-first-year></app-first-year>
                 </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-primary">
                      <h4 class="card-title" style="cursor: pointer;" (click)="open(content3)">Second Year Time Table</h4>
                  </div>
                    <div class="card-body table-responsive">
                    <app-second-year></app-second-year>
                    </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card">
              <div class="card-header card-header-primary">
                  <h4 class="card-title" style="cursor: pointer;" (click)="open(content4)">Third Year Time Table</h4>
              </div>
                <div class="card-body table-responsive">
                 <app-third-year></app-third-year>             
                </div>
          </div>
      </div>
        <div class="col-lg-6 col-md-12">
          <div class="card">
             <div class="card-header card-header-primary">
                    <h4 class="card-title" style="cursor: pointer;" (click)="open(content5)">Fourth Year Time Table</h4>
                </div>
                    <div class="card-body table-responsive">
                    <app-fourth-year></app-fourth-year>             
                    </div>
            </div>
        </div>
    </div>
  </div>
</div>
