



<div class="bg-img" style="background-repeat: no-repeat;" [ngStyle]="{'background-image': getUrl()}">

  <div class="wrapper" >
    <div id="formContent">
      <div class="limiter">
        <div class="container-login100" >
            
            <div class="text-center p-t-45 p-b-4">
                  <h3>Reset Password</h3>
      
                  <p class="text-center">Please enter your email address to request a password reset.</p>
      
                  <div class="formGroup">
                    <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
                  </div>
      
                  <div class="formGroup">
                    <input type="submit" class="btn btn-info" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
                  </div>
                  
        
                  <div class="text-center p-t-45 p-b-4">
                    <span class="txt1">
                      Go back to
                    </span>
        
                    <a routerLink="/login" class="txt2 hov1">
                      Login?
                    </a>
                  </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>



