<div class="main-content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h3 class="card-title">First Year Time Table</h3>
                </div>
                <div class="card-body">
                 <app-view-first-year></app-view-first-year>        
                </div>
            </div>
        </div>
</div> -->

<div class="main-content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h3 class="card-title">Second Year Time Table</h3>
                </div>
                <div class="card-body">
                 <app-view-second-year></app-view-second-year>       
                </div>
            </div>
        </div>
</div>

<div class="main-content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h3 class="card-title">Third Year Time Table</h3>
                </div>
                <div class="card-body">
                 <app-view-third-year></app-view-third-year>      
                </div>
            </div>
        </div>
</div>

<div class="main-content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h3 class="card-title">Fourth Year Time Table</h3>
                </div>
                <div class="card-body">
                   <app-view-fourth-year></app-view-fourth-year>     
                </div>
            </div>
        </div>
</div>



