<div class="main-content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h3 class="card-title">First Year Time Table</h3>
                    <p class="card-category">
                        Handcrafted by our friend
                    </p>
                </div>
                <div class="card-body">
                        <ejs-schedule> </ejs-schedule>
                </div>
            </div>
        </div>
</div>

<div class="main-content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h3 class="card-title">Second Year Time Table</h3>
                    <p class="card-category">
                        Handcrafted by our friend
                    </p>
                </div>
                <div class="card-body">
                        <ejs-schedule> </ejs-schedule>
                </div>
            </div>
        </div>
</div>

<div class="main-content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h3 class="card-title">Third Year Time Table</h3>
                    <p class="card-category">
                        Handcrafted by our friend
                    </p>
                </div>
                <div class="card-body">
                        <ejs-schedule> </ejs-schedule>
                </div>
            </div>
        </div>
</div>

<div class="main-content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h3 class="card-title">Fourth Year Time Table</h3>
                    <p class="card-category">
                        Handcrafted by our friend
                    </p>
                </div>
                <div class="card-body">
                        <ejs-schedule> </ejs-schedule>
                </div>
            </div>
        </div>
</div>



