.md-custom-listview .mbsc-lv-item {
    background: #c3e8fb;
    padding-top: 30px;
    padding-bottom: 30px;
}

.md-custom-listview .md-star-icon {
    float: right;
    font-weight: bold;
    color: #ff8400;
}

.md-custom-listview .md-star-icon:before {
    margin-right: 5px;
}