
    
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col"><b>Hall ID</b></th>
            <th scope="col"><b>Capacity</b></th>
            <th scope="col"><b>Availability</b></th>
            <th scope="col"></th>
           
          </tr>
        </thead>
        
          
          <ng-container *ngFor="let hall of halllist | paginate: { itemsPerPage: 3, currentPage: p }; let i = index;">
           
             <tr  class="table-striped"> 
            <td>{{hall.hallID}} </td>
            <td>{{hall.capacity}}</td>
            <td >
             <ul *ngFor="let item of createRange(hall.resourceStatus.length);"> 
               <li>{{hall.resourceStatus[item].display}}</li>
             </ul>
            </td>
            
      
               <td>
                <a class="action-btn" style="color:rgb(36, 143, 192); cursor: pointer" (click)="onEdit(hall)">
                  <i class="material-icons">edit</i>
                </a>
                <a class="action-btn" style="color:lightcoral; cursor: pointer" (click)="onDelete(hall.id)">
                  <i class="material-icons">delete</i>
                </a>
              </td>
          </tr>
        
      </ng-container>
      </table>
      <!-- <div class="alert alert-danger" *ngIf="showDeleteMessage">
          Deleted Successfully!
        </div> -->
    
    <!-- Pagination -->
    <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>
  
  





