<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-4">
              <div class="card">
                  <div class="card-header card-header-primary">
                      <h4 class="card-title">Manage Lecturers</h4>
                     
                  </div>
                  <div class="card-body">
                    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
                      <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
                       
                          <div class="row">
                              <div class="col-md-12">
                                  <label>User name</label>
                                  <input type="text" name="userName" #userName="ngModel" [(ngModel)]="service.formData.userName" class="form-control" required>
                                  <div *ngIf="userName.invalid && userName.touched" class="validation-error">This field is required.</div>
                                </div>
                              </div>
                              <div class="row">
                            <div class="col-md-12">
                              <label>First name</label>
                              <input type="text" name="firstName" #firstName="ngModel" [(ngModel)]="service.formData.firstName" class="form-control" required>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <label>Last name</label>
                              <input type="text" name="lastName" #lastName="ngModel" [(ngModel)]="service.formData.lastName" class="form-control" required>
                            </div>
                    </div>
                          
                    
                          <div class="row">
                            <div class="col-md-12">
                              <label>Email</label>
                              <input type="email" name="email" #email="ngModel" [(ngModel)]="service.formData.email" class="form-control" required>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <label>Mobile number</label>
                              <input type="number" name="mobileNumber" #mobileNumber="ngModel" [(ngModel)]="service.formData.mobileNumber" class="form-control" required>
                              </div>
                            </div>
                              
                            
                            
                          
                    
                           <div class="form-group text-right">
                            <button type="button" class="btn btn-info gap-right" (click)="resetForm(form)">Reset</button>
                            <button type="submit" class="btn btn-success pull-right" [disabled]="form.invalid" value="submit">Add Lectuer</button>
                          </div>
                    
                       
                        <div class="clearfix"></div>
                      
                    </form>
                    
                  </div>
              </div>
          </div>


<div class="col-md-8">
<div class="card card-profile">
    <div class="card-header card-header-primary">
        <h4 class="card-title">Lecturers Details</h4>
        <!-- <p class="card-category">Complete your profile</p> -->
    </div>
    <div class="card-body">
        <app-lecturers-list></app-lecturers-list>
    </div>
</div>
</div>
</div>
</div>
</div>
