<div class="pt-3 pb-2 mb-3 border-bottom offset-sm-1">
    <app-lecturers-list></app-lecturers-list>
  <h1 class="h2">Add Lectuers</h1>

  </div>
  
  <!-- lecturer form -->
  <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
    <div class="row"> 
      <div class="col-lg-5 col-md-12 col-sm-12 offset-sm-2">
        <div class="row">
  
            <div class="col-md-12 mb-3">
                <label>User name</label>
                <input type="text" name="userName" #userName="ngModel" [(ngModel)]="service.formData.userName" class="form-control" required>
                <div *ngIf="userName.invalid && userName.touched" class="validation-error">This field is required.</div>
              </div>
          <div class="col-md-12 mb-3">
            <label>First name</label>
            <input type="text" name="firstName" #firstName="ngModel" [(ngModel)]="service.formData.firstName" class="form-control" required>
          </div>
  
          <div class="col-md-12 mb-3">
            <label>Last name</label>
            <input type="text" name="lastName" #lastName="ngModel" [(ngModel)]="service.formData.lastName" class="form-control" required>
          </div>
  
        </div>
  
        <div class="row">
          <div class="col-md-12 mb-3">
            <label>Email</label>
            <input type="email" name="email" #email="ngModel" [(ngModel)]="service.formData.email" class="form-control" required>
          </div>
  
          <div class="col-md-12 mb-3">
            <label>Mobile number</label>
            <input type="number" name="mobileNumber" #mobileNumber="ngModel" [(ngModel)]="service.formData.mobileNumber" class="form-control" required>
            </div>
            
            
          
          <!-- <div>
          <label>Subjects</label>
          <div class="form-group text-right"></div>
          <input type="text" formControlName="subjects" class="form-control" required>
          <span class="form-group-btn">
                <button class="btn btn-default" type="button">Add Subjects</button>
           </span>
          </div>-->
        
    </div> 
        <div class="form-group text-right">
          <button type="button" class="btn btn-secondary gap-right" (click)="resetForm(form)">Reset</button>
          <button type="submit" class="btn btn-success" [disabled]="form.invalid" value="submit">Add Lectuer</button>
        </div>
  
      </div>
    </div>
    
  </form><!-- Student form ends-->
  <div class="alert alert-info"  *ngIf="showSuccessMessage">
    Submitted successfully.
  </div>