<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Manage Halls</h4>
                       
                    </div>
                    <div class="card-body">
                        <!-- <a class="action-btn pull-right" style="color:rgb(36, 143, 192); cursor: pointer"   (click)="this.isButtonVisible = false">new hall<i class="material-icons">add</i> -->
                        <!-- </a> -->
                        
                      <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
                          
                        <input type="hidden" name="id" #id="ngModel" [(ngModel)]="hallservice.formData.id">
                        
                            <div class="row">
                                <!-- <div class="col-md-12" *ngIf="this.isButtonVisible" [hidden]="false">
                                    <label>Hall ID</label>
                                 <select #hallID="ngModel" name="hallID" [(ngModel)]="hallservice.formData.hallID" class="form-control" required>
                                   <option *ngFor="let hallID of halllist" [value]="hallID">{{hallID.hallID}}</option>
                                 </select>
                                 
                                 <div *ngIf="hallID.invalid && hallID.touched" class="validation-error">This field is required.</div>
                                  </div> -->
                                  <!-- <div class="col-md-12" *ngIf="!this.isButtonVisible" [hidden]="false"> -->
                                      <div class="col-md-12">
                                      <label>Hall ID</label>
                                      <input type="text" name="hallID" #hallID="ngModel" [(ngModel)]="hallservice.formData.hallID" class="form-control" required>
                                     
                                 
                                   
                                   <div *ngIf="hallID.invalid && hallID.touched" class="validation-error">This field is required.</div>
                                    </div>
                                </div>
                                <div class="row">
                              <div class="col-md-12">
                                <label>Hall Capacity</label>
                                <input type="number" name="capacity" #capacity="ngModel" [(ngModel)]="hallservice.formData.capacity" class="form-control" required>
                                <div *ngIf="capacity.invalid && capacity.touched" class="validation-error">This field is required.</div>

                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <label>Resources Availability</label>
                                <!-- <input type="text" name="resourceStatus" #resourceStatus="ngModel" [(ngModel)]="hallservice.formData.resourceStatus" class="form-control" required> -->
                                <tag-input  name="resourceStatus" #resourceStatus="ngModel" [(ngModel)]="hallservice.formData.resourceStatus" class="form-control" required
                                [onlyFromAutocomplete]="true">
                         <tag-input-dropdown [showDropdownIfEmpty]="true"
                                             [autocompleteItems]="['Projector', 'Marker Pens', 'White Board','Mic']">
                             <ng-template let-item="item" let-index="index">
                                {{ item.display }}
                             </ng-template>
                         </tag-input-dropdown>
                     </tag-input>
                            
                              </div>
                      </div>
                      <br><br><br>
                             <div class="form-group text-right">
                              <button type="button" class="btn btn-info gap-right" (click)="resetForm(form)">Reset</button>
                              <button type="submit" class="btn btn-success pull-right" [disabled]="form.invalid" value="submit">Add Hall</button>
                            </div>
                      
                         
                          <div class="clearfix"></div>
                        
                      </form>
                      
                    </div>
                </div>
            </div>
  
  
  <div class="col-md-8">
  <div class="card card-profile">
      <div class="card-header card-header-primary">
          <h4 class="card-title">Hall Details</h4>
          <!-- <p class="card-category">Complete your profile</p> -->
      </div>
      <div class="card-body">
          <app-hall-list></app-hall-list>
      </div>
  </div>
  </div>
  </div>
  </div>
  </div>