<div class="main-content">
    <div class="container-fluid center">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Manage Halls</h4>
                        <!-- <p class="card-category">Complete your profile</p> -->
                    </div>
                    <div class="card-body">
                        <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
                            <input type="hidden" name="id" #id="ngModel" [(ngModel)]="hallsService.formData.id">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Hall Name</label>
                                    <input type="text" name="hallName" #hallName="ngModel" [(ngModel)]="hallsService.formData.userName" class="form-control" required>
                                    <div *ngIf="hallName.invalid && hallName.touched" class="validation-error">This field is required.</div>
                                </div>
                            </div>
                            <label>Resources</label>
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="checkbox" name="resources" value="whiteboard">Whiteboard
                                </div>
                                <div class="col-md-4">
                                    <input type="checkbox" name="resources" value="mic">Mic
                                </div>
                                <div class="col-md-4">
                                    <input type="checkbox" name="resources" value="projector">Projector
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Add Hall</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  